    /* html */
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    
    @media screen and (prefers-reduced-motion: reduce) {
        html {
            scroll-behavior: auto;
        }
    }
    /* end html */
    /* body */
    
    body {
        line-height: 1.6;
        height: 100%;
        margin: 0;
    }
    /* end body */
    /* sections */
    
    section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    /* end sections */
    /* progress bar */
    
    .progress-container {
        margin: 0;
        top: 0;
        position: fixed;
        width: 100%;
        background-color: transparent;
    }
    
    .progress-bar {
        height: 6px;
        background: #00296B;
    }
    /* end progress bar */
    /* navigation bar */
    
    nav {
        position: fixed !important;
        top: 0;
        z-index: 2;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 10vh;
        width: 100%;
        background-color: rgba(59, 58, 58, 0.6);
        font-family: 'Poppins', sans-serif;
        transition: 1s;
    }
    
    nav.hide {
        transform: translate(-100%);
    }
    
    .logo {
        font-family: 'Poppins', sans-serif;
        letter-spacing: 3px;
        padding: 5px;
        padding-left: 50px;
        font-weight: 900;
        cursor: pointer;
        text-decoration: none;
        margin-left: 15%;
        width: 200px;
        background-color: #00296B;
    }
    
    .logo:hover {
        transform: scale(1.05);
    }
    
    .aTagLogo {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.5rem;
        color: rgb(255, 255, 255);
    }
    
    .aTagLogo:hover {
        text-decoration: none;
        color: #FDC500;
        transform: scale(0.5);
    }
    
    .navLinks {
        display: flex;
        list-style: none;
        justify-content: space-around;
        align-items: center;
        width: 30%;
        height: 100%;
        margin-left: auto;
    }
    /*   .navLiHide {
        top: 0;
        z-index: 2;
        display: flex;
        height: 10vh;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        font-family: 'Poppins', sans-serif;
    } */
    
    .li {
        list-style: none;
    }
    
    .li:hover {
        list-style: none;
        transform: scale(1.1);
    }
    
    .aTag {
        color: #FDC500;
        text-decoration: none;
        letter-spacing: 2px;
        font-size: 16px;
        font-weight: bolder;
    }
    
    .aTag:hover {
        color: #00296B;
        transition: all ease 0.3s;
        text-decoration: none;
        transform: scale(0.5);
    }
    
    .navLiHide {
        display: none;
    }
    
    @media screen and (max-width:1045px) {
        /*        body {
            overflow-x: hidden;
        } */
        nav {
            position: relative;
        }
        .navLinks {
            position: fixed;
            height: 100vh;
            background-color: rgba(163, 157, 157, 0.4);
            flex-direction: column;
            width: 100%;
            transition: all 1s ease-out;
            clip-path: circle(100px at 50% 10%);
            -webkit-clip-path: circle(100px at 50% 10%);
            pointer-events: none;
        }
        .navLinks.open {
            clip-path: circle(1000px at 50% 10%);
            -webkit-clip-path: circle(1000px at 50% 10%);
            pointer-events: all;
        }
        .li {
            opacity: 0;
        }
        .aTag {
            font-size: 17px;
        }
        .li:nth-child(1) {
            font-weight: bolder;
            margin-top: 450px;
            transition: all 0.5s ease 0.2s;
        }
        .li:nth-child(2) {
            font-weight: bolder;
            margin-bottom: 70px;
            transition: all 0.5s ease 0.4s;
        }
        .li.fade {
            opacity: 1;
        }
        .burger {
            /* display: block; */
            position: absolute;
            cursor: pointer;
            z-index: 2;
            right: 5%;
            top: 50%;
            transform: translate(-5%, -50%);
        }
        .line {
            width: 25px;
            height: 4px;
            background: white;
            margin: 5px;
        }
        .logo {
            margin-left: -5%;
        }
    }
    
    @keyframes navLinksFade {
        from {
            opacity: 0;
            transform: translate(50px);
        }
        to {
            opacity: 1;
            transform: translate(0px);
        }
    }
    
    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .toggle .line2 {
        opacity: 0;
    }
    
    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    /* end navigation bar*/
    /* first section  */
    
    #florinSection {
        width: 100%;
        height: 100vh;
        padding-top: 60%;
        display: flex;
        justify-content: center;
        position: relative;
    }
    
    #florinSection::before {
        background-image: url(images/PHOTO-2020-09-17-11-22-05.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.5;
    }
    
    @media screen and (max-width:1000px) {
        #florinSection::before {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            opacity: 0.5;
        }
    }
    
    .florinSection2 {
        display: flex;
        justify-content: center;
        position: relative;
        padding-bottom: 50%;
    }
    
    .florinSection3 {
        max-width: 50%;
        display: inline;
        justify-content: center;
        align-items: center;
        /* position: relative; */
    }
    
    .reveal1 {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background-color: #ffffff;
        animation: text_reveal_box 1s ease;
        animation-delay: 1s;
    }
    
    .reveal {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background-color: #ffffff;
        animation: text_reveal_box 1s ease;
        animation-delay: 2s;
    }
    
    @keyframes text_reveal_box {
        50% {
            width: 100%;
            left: 0;
            border-radius: 2%;
        }
        100% {
            width: 0;
            left: 100%;
            border-radius: 2%;
        }
    }
    
    @keyframes text_reveal {
        100% {
            color: #00296B;
        }
    }
    
    @keyframes florin_text {
        100% {
            color: #FDC500;
        }
    }
    
    .im {
        position: relative;
        top: 90%;
        left: 70%;
        font-size: 3rem;
        transform: translate(-20%, -70%);
        color: transparent;
        font-family: 'Poppins', sans-serif;
        animation: text_reveal .5s ease forwards;
        animation-delay: 1.5s;
    }
    
    .spanFlorin {
        color: transparent;
        padding: 10px;
        animation: florin_text .5s ease forwards;
        animation-delay: 2s;
    }
    
    .frontEnd {
        position: relative;
        top: 85%;
        left: 70%;
        font-size: 2rem;
        transform: translate(-20%, -70%);
        color: transparent;
        font-family: 'Poppins', sans-serif;
        animation: text_reveal .5s ease forwards;
        animation-delay: 3s;
        /* opacity: 0.6; */
    }
    
    @media screen and (max-width:1200px) {
        .frontEnd {
            font-size: 1.5rem;
            left: 20%;
        }
        .im {
            font-size: 2.5rem;
            left: 20%;
        }
    }
    
    @media screen and (max-width:850px) {
        .frontEnd {
            font-size: 1.5rem;
            left: 10%;
            top: 57%;
        }
        .im {
            font-size: 1.7rem;
            left: 10%;
            top: 40%;
        }
    }
    /* end first section */
    /* about section */
    
    #about {
        height: 100%;
        width: 100%;
        position: relative;
        background-color: white;
    }
    /*    #about::before {
        background-image: url(images/PHOTO-2020-09-18-17-42-07.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.5;
    } */
    
    .section .container {
        margin-left: 30px;
        padding-top: 100px;
        padding-bottom: 1px;
    }
    
    .sectionAbout {
        flex: 0 0 100%;
        max-width: 100%;
        padding-bottom: 30px;
    }
    
    .sectionAbout h2 {
        font-size: 40px;
        color: #00296B;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        margin: 0;
        position: relative;
        top: -25%;
    }
    
    .sectionAbout h2::after {
        content: '';
        height: 0.0em;
        width: 50%;
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: 8px;
        border: 1px solid #FDC500;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        position: relative;
    }
    
    @media screen and (max-width:850px) {
        .row {
            min-height: 5%;
        }
    }
    
    .pad {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .aboutContent {
        flex: 0 0 100%;
        max-width: 100%;
        margin-left: -15px;
    }
    
    .aboutText {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .aboutText h3 {
        font-size: 30px;
        font-weight: 600;
        color: #00296B;
        margin-left: 17px;
    }
    
    .beginner {
        font-size: 24px;
        line-height: 25px;
        color: #00296B;
        margin-left: 17px;
        margin-top: 20px;
    }
    
    .scoalaInformala {
        text-decoration: none;
        font-weight: bolder;
        font-size: 25px;
        color: #00296B;
        transition: all 0.3s ease;
    }
    
    .personalInfo {
        display: flex;
        flex: 0 0 50%;
        max-width: 50%;
        margin-top: 20px;
        /* background-color: red; */
    }
    
    .infoItem {
        flex: 0 0 50%;
        max-width: 100%;
        /*         padding-bottom: 10px; */
    }
    
    .infoItem p {
        margin: 0;
        font-weight: bolder;
        padding: 8px 0;
        font-size: 20px;
        color: #00296B;
        border-bottom: 0.5px solid #FDC500;
    }
    
    .infoItem p span {
        font-weight: 300;
        color: #00296B;
        margin-left: 4px;
        display: inline-block;
    }
    
    .aboutBtn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .aboutButton {
        display: flex;
        padding-top: 20px;
    }
    
    .btn1 {
        /* display: inline-block; */
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        padding: 12px 35px;
        border-radius: 10px;
        background-color: #FDC500;
        color: rgb(255, 255, 255);
        text-decoration: none;
        transition: all 0.3s ease;
        white-space: nowrap;
        margin-top: 10px;
        margin-right: 15px;
        border: none;
    }
    
    .btn1:hover {
        transform: scale(1.1);
    }
    
    .personalSkills {
        flex: 0 0 50%;
        max-width: 50%;
        margin-top: 5px;
        /* background-color: blue; */
    }
    
    .personalSkills2 {
        box-shadow: -7px -1px 7px -4px rgba(0, 0, 0, 0.40);
    }
    
    .skillsItems {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 5px;
    }
    
    .skillsItems h5 {
        line-height: 30px;
        font-weight: 400;
        padding: 10px 0;
        font-size: 16px;
        color: #00296B;
        text-transform: capitalize;
        margin: 0;
    }
    
    .progressBarDiv {
        height: 7px;
        border-radius: 4px;
        /* overflow: hidden; */
        width: 100%;
        position: relative;
        background-color: #FDC500;
    }
    
    .progressIn {
        position: absolute;
        left: 0;
        top: 0;
        height: 70%;
        width: 100%;
        border-radius: 4px;
    }
    
    .progressJava {
        width: 40%;
        height: 7px;
        background-color: #00296B;
    }
    
    .progressHtml {
        width: 60%;
        height: 7px;
        background-color: #00296B;
    }
    
    .progressCss {
        width: 60%;
        height: 7px;
        background-color: #00296B;
    }
    
    .progressReact {
        width: 20%;
        height: 7px;
        background-color: #00296B;
    }
    
    .progressNode {
        width: 20%;
        height: 7px;
        background-color: #00296B;
    }
    
    .skillPercent {
        line-height: 40px;
        position: absolute;
        right: 0;
        top: -40px;
        font-weight: 400;
    }
    
    .education {
        flex: 0 0 50%;
        max-width: 50%;
        margin-top: 30px;
        margin-left: -10px;
        background-color: transparent;
    }
    
    .experience {
        flex: 0 0 50%;
        max-width: 50%;
        margin-top: 30px;
        margin-left: -10px;
    }
    
    .titleEducation {
        font-size: 24px;
        font-weight: 700;
        color: #00296B;
        margin-bottom: 40px;
    }
    
    .titleExperience {
        font-size: 24px;
        font-weight: 700;
        color: #00296B;
        margin-bottom: 40px;
    }
    
    .timelineBox {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .timeline {
        background-color: transparent;
        padding: 30px 15px;
        /* border: 1px solid #d4d4e3; */
        border-radius: 10px;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }
    
    .timeline :last-child {
        padding-bottom: 0px;
    }
    
    .timelineItem {
        position: relative;
        padding-left: 30px;
        padding-bottom: 40px;
    }
    
    .timelineItem::before {
        content: '';
        width: 3px;
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
    }
    
    .timelineDate {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 12px;
        color: #00296B;
    }
    
    .timelineTitle {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 15px;
        text-transform: capitalize;
        color: #00296B;
    }
    
    .timelineText {
        font-size: 16px;
        line-height: 25px;
        color: #00296B;
        margin: 0;
    }
    
    .far {
        margin-right: 5px;
    }
    /* end about section */
    /*  contact section */
    
    #contact {
        height: 100%;
        width: 100%;
        position: relative;
        background-color: white;
    }
    /*     #contact::before {
        background-image: url(images/PHOTO-2020-09-18-17-42-36.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.5;
    } */
    
    .contactContainer {
        margin-top: 100px;
    }
    
    .contactInfo {
        text-align: center;
        flex: 0 0 33.33%;
        max-width: 33.33%;
        margin-bottom: 40px;
    }
    
    .contactInfo h4 {
        font-size: 18px;
        font-weight: bolder;
        color: #00296B;
        text-transform: capitalize;
        margin: 15px 0 15px;
    }
    
    .contactInfo p {
        font-size: 20px;
        line-height: 25px;
        color: #00296B;
        margin: 0;
        font-weight: bolder;
    }
    
    .fas {
        display: inline-block;
        font-size: 40px;
        color: #FDC500;
    }
    
    .contactForm {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .col {
        flex: 0 0 100%;
        max-width: 50%;
    }
    
    .col2 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .formItem {
        margin-bottom: 30px;
    }
    
    .formControl {
        width: 100%;
        height: 50px;
        border-radius: 25px;
        border: 1px solid#00296B;
        outline: none;
        padding: 10px 25px;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
    }
    
    .rowBtn2 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        position: relative;
    }
    
    .textareaForm {
        width: 100%;
        height: 150px;
        border-radius: 25px;
        border: 1px solid #00296B;
        padding: 10px 25px;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        outline: none;
    }
    
    .btn2 {
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        padding: 12px 35px;
        border-radius: 10px;
        background-color: #FDC500;
        color: white;
        text-decoration: none;
        transition: all 0.3s ease;
        white-space: nowrap;
        margin-top: 10px;
        margin-right: 15px;
        border: none;
    }
    
    .btn2:hover {
        transform: scale(1.1);
    }
    /* footer section */
    
    .footer {
        display: flex;
        justify-content: space-around;
        position: relative;
        bottom: 5px;
        padding: 20px;
        width: 100%;
        background-color: #00296B;
    }
    
    .social {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footerDiv {
        display: inline;
        justify-content: center;
        align-items: center;
    }
    
    .social i {
        color: #FDC500;
        font-size: 25px;
    }
    
    .social a {
        margin: 6px 12px;
    }
    
    .social a:hover i {
        color: rgb(255, 255, 255);
        transition: all ease 0.5;
    }
    
    .copyRight {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FDC500;
        font-size: 20px;
    }
    /* end contact section